.carousel-container {
  width: 600px;
  margin: auto;
  text-align: center;
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  margin-top: 20px;
}

.carousel-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.carousel-btn:hover {
  background-color: #0056b3;
}
