* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --fifty: #fefce8;
  --one-hundred: #fef9c3;
  --two-hundred: #fef08a;
  --three-hundred: #fde047;
  --four-hundred: #facc15;
  --five-hundred: #eab308;
  --six-hundred: #ca8a04;
  --seven-hundred: #a16207;
  --eight-hundred: #854d0e;
  --nine-hundred: #713f12;
  --nine-hundred-fifty: #422006;
  --background-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--nine-hundred-fifty);
}
